<!DOCTYPE html>
<html>
    <head>
        <title>Githon Club</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
        {% block header %}
        {% endblock %}
        <style>
            {% load static %}
            body {
                background-image: url("{% static 'imgs/background.jpeg' %}");
                background-repeat: no-repeat;
                /* background-color: #cccccc; */
                background-size: cover;
                background-origin: content-box;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid" id="container">
            <div id="menu-bar">
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'imgs/gi-icon.png' %}" alt="githon-logo" style="width: 40px">
                        Githon
                    </a>
                    {% if user.is_authenticated %}
                    <form class="form-inline" action="{% url 'account_logout' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-warning" >Logout</button>
                    </form>
                    {% endif %}
                </nav> 
            </div>
            <div id="content">
                {% block content %} {% endblock %}
            </div>
        </div>
    </body>
    {% block script %}
    {% endblock %}
</html>