{% extends "base.html" %}
{% block content %}
{% load humanize %}
<div id="content">
    <div id="search-form" class="mt-5 mb-5 mx-auto" style="width: 500px">
        <form action="" method="GET" class="form-inline">
            <div class="form-group">
                <input class="form-control mr-2" name="start_date" type="date" placeholder="From">
                <span class="mr-2 ml-2"> ~ </span>
                <input class="form-control mr-2 ml-2" name="end_date" type="date" placeholder="To">
                <button class="btn btn-primary" type="submit">GET</button>
            </div>
        </form>
    </div>
    <div id="activities" class="container">
        <table class="table table-bordered" id="reward-table">
            <thead>
                <tr>
                    <th>Thành Viên</th>
                    <th>Reward</th>
                    {% for date in timeseries %}
                    <th>{{ date }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for user in user_activities %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.reward | intcomma }}</td>
                    {% for distance in user.distance_per_day %}
                        <td>{{ distance | intcomma }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block script %}
    {% load static %}
    <script type="text/javascript" charset="utf8" src="{% static 'js/script.js' %}"></script>
{% endblock %}